style.
	img {
		max-width: 100%;
	}
	u span {
		height:0px;
		line-height:0px;
	}
	table td {
		border-collapse:collapse !important;
		mso-table-lspace:0px !important; 
		mso-table-rspace:0px !important;
		font-size: 17px;
		color:#3e3d3d;
	}
	p {
		margin:0px!important; 
		padding:0px !important;
	}
	.headerClass {
		font-size: 16px;
	}
	.pClass {
		font-size: 16px;
	}
	.MsoNormal {
		margin:0px!important;
		padding:0px !important;
	}
table(cellpadding="5" cellspacing="0" align="center" bgcolor="#ffffff" style="max-width:680px; min-width:300px; border-bottom:0px solid #e0e0e0")
	tbody
		tr
			td(style="border-bottom:solid 1px #ffffff;" height="20")
				table(width="50%" border="0" cellspacing="0" cellpadding="0" align="left")
					tbody
						tr
							//td(style="font:normal 12px Arial, Roboto, sans-serif; color:#999999; text-align:left;")
								webversion This e-mail is mobile friendly.
		tr
			td(align="center")
				a(href="http://52.27.233.121:9090/" target="_blank")
					img(src="http://i64.tinypic.com/2hs0u41.jpg" width="200" height="200" hspace="0" vspace="0" border="0" alt="LOGO HERE" style="font:bold 20px Segoe UI, arial; color:#000000")
		tr
			td(height="0" style="border-top:0px solid #d1d1d1")
				img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/diwali_saree_16oct/images/zero_694.gif" width="1px" style="width:1px;")
		tr
			td(align="left") Hi &ltSalutation&gt &ltFirst Name&gt #{Salutation} #{fname},
		tr
			td Your Online Video Consultation appointment with &lt;Patient Name&gt; is confirmed.
		tr
			td(height="20")
		tr
			td( width="100%" align="center" valign="middle" style="border-top:0px solid #d1d1d1; border-bottom:0px solid #d1d1d1;")
				table(width="100%" cellpadding="5" cellspacing="0" align="center" border="0" style="max-width:320px; min-width:300px; border:1px solid #D3D3D3")
					tbody
						tr(style="background-color:#4885ed" width="100%")
							td(width="70%"  colspan="2" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:10px; padding-bottom:10px; padding-left:10px;")
								table(cellpadding="0" cellspacing="0" align="" style="" border="0")
									tr
										td(style="text-align:left;font-weight:bold;color:white;") < Date >,< Day >
									tr
										td(style="text-align:left;font-weight:bold;color:white;") 9:00AM - 9:00PM
							td(width="30%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:right;border='0';color:#3e3d3d; padding-top:10px; padding-bottom:10px;color:white;")
								span(style="font-size:34;padding-right:10px") &#x20B9;500
						tr(width="100%")
							td(width="80%" colspan="2" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:20px; padding-bottom:0px;padding-left:10px;")
								span(style="text-align:left;font-weight:bold;color:#4885ed;") Online Video Consultation
							td(width="20%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:right;border='0';color:#3e3d3d; padding-top:20px;padding-right:10px;")
								span(style="font-weight:bold;color:;")
									img(src="img/video5050.png" width="20px" height="20px")
						tr(width="100%")
							td(width="100%" colspan="3" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:1px;padding-left:10px;")
								span(style="text-align:left;font-weight:bold;color:;") &lt;Name&gt;
						tr(width="100%")
							td(width="100%" colspan="3" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:1px;padding-left:10px;")
								span(style="text-align:left;font-weight:bold;color:;") &lt;age&gt;/&lt;Gender&gt;
						tr(width="100%")
							td(width="100%" colspan="3" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:1px;padding-left:10px;")
								span(style="text-align:left;font-weight:;color:;") Order ID:&lt;OrderId&gt;
						tr(width="100%")
							td(width="100%" colspan="3" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:30px;padding-left:10px;")
								span(style="text-align:left;font-weight:;color:;") DPIN:&lt;DPIN&gt;
						tr(width="100%")
							td( width="50%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:10px;padding-left:20px;font-weight:bold;")
								a(style="color:gray") RESCHEDULE
							td( width="50%" colspan="2" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:center;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:10px;padding-right:0px;font-weight:bold;")
								a(style="color:#4885ed") VIEW DETAILS
		tr
			td(height="20")
		tr
			td(align="left")
				span(style="font-weight:bold;") PLEASE MAKE SURE THAT YOU CONNECT AT THE SCHEDULED TIME, THE CONSULTATION CAN BE COMPLETED ONLY DURING THE SCHEDULED TIMESLOT. 
				| Be ready for the consultation with good internet connection, peaceful surroundings and good ambient light. In case of technical issues / connectivity issues you can complete your consultation on phone by calling on our Backup number - XXXXXXXXX. You will have to enter the order ID & DPIN to successfully complete this consultation on phone.#{verificationLink}
		tr
			td(align="left")
				span(style="font-weight:bold;") IN CASE OF NO SHOW BY YOU EITHER BY PHONE OR VIDEO CALL, THE APPOINTMENT WILL BE AUTOMATICALLY CANCELLED AND THE FULL AMOUNT WILL BE REFUNDED BACK TO THE PATIENT. 
				| No Show on video consultation has an impact on your ratings on the platform.
		tr
			td(align="left") You can raise a reschedule request for this appointment anytime upto the scheduled time. Patient will get an option to reschedule the appointment for the same practice location or cancel the appointment and raise a refund request. For more details on rescheduling & cancellation policy, visit NimbusClinic T&C. < Include Link > or Nimbus Support section < Include Link >.
		tr
			td
		tr
			td
				table(cellpadding="0" cellspacing="0" border="0"  style="max-width:680px; min-width:300px; border:0px solid #D3D3D3")
					tbody
						tr(width="100%")
							td(width="15%" style="text-align:center;padding-right:0;")
								span
									img(src="img/Service-Gurantee-Logo60.png" width="45px" height="45px")
							td(width="640px" style="font-size;") In case of no show by the patient the consultation fee will be credited in your account in the next settlement cycle. *Valid for for Online Video Consultation only.
		tr
			td
		tr
			td In case you need our help we are just a click away, contact us at support@nimbusclinic.com or call us @ 8287140011.
		tr
			td(height="10")
		tr
			td(align="left") Team NimbusClinic
		tr
			td(height="20")
		tr
			td(align="center" valign="middle" style="border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;")
				table(width="100%" border="0" cellspacing="0" cellpadding="0" valign="middle")
					tbody
						tr
							td(width="30%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:center; color:#3e3d3d; padding-top:10px; padding-bottom:10px;")
								a(href="#{webUrl}/nimbustermsandcond#/" style="text-decoration:none; color:#3e3d3d;") Terms and Conditions
							td(width="1%" style="color:#3e3d3d;padding-top:10px; padding-bottom:10px;")||
							td(width="38%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:center; padding-top:10px; padding-bottom:10px;")
								a(href="#{webUrl}/nimbustermsandcond#/" style="text-decoration:none; color:#3e3d3d;") Privacy Policy
							td(width="1%" style="color:#3e3d3d;padding-top:10px; padding-bottom:10px;")||
							td(width="30%" style="font:normal 15px/22px Arial, Roboto, sans-serif;padding-top:10px; padding-bottom:10px; text-align:center;")
								a(href="#{webUrl}/support#/" style="text-decoration:none; color:#3e3d3d;") NimbusClinic Support