style.
	img {
		max-width: 100%;
	}
	u span {
		height:0px;
		line-height:0px;
	}
	table td {
		border-collapse:collapse !important;
		mso-table-lspace:0px !important; 
		mso-table-rspace:0px !important;
	}
	p {
		margin:0px!important; 
		padding:0px !important;
	}
	.headerClass {
		font-size: 16px;
	}
	.pClass {
		font-size: 16px;
	}
	.MsoNormal {
		margin:0px!important;
		padding:0px !important;
	}
table(cellpadding="5" cellspacing="0" align="center" bgcolor="#ffffff" style="max-width:680px; min-width:345px; border-bottom:1px solid #e0e0e0")
	tbody
		tr
			td(style="border-bottom:solid 1px #ffffff;" height="20")
				table(width="50%" border="0" cellspacing="0" cellpadding="0" align="left")
					tbody
						tr
							td(style="font:normal 12px Arial, Roboto, sans-serif; color:#999999; text-align:left;")
								webversion This e-mail is mobile friendly.
		tr
			td(align="center")
				a(href="http://52.27.233.121:9090/" target="_blank")
					img(src="http://i64.tinypic.com/2hs0u41.jpg" width="200" height="200" hspace="0" vspace="0" border="0" alt="LOGO HERE" style="font:bold 20px Segoe UI, arial; color:#000000")
		tr
			td(height="0" style="border-top:0px solid #d1d1d1")
				img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/diwali_saree_16oct/images/zero_694.gif" width="1px" style="width:1px;")
		tr
			td(align="left") Dear #{Salutation} #{fname},
		tr
			td(align="center") Please confirm your email address.
		tr
			td(align="center")
				//- button(style="height: 30px;width: 200px;background-color: #4885ED;border-color: #4885ED;text-align: center;display: inline-block;position: relative;text-transform: uppercase;")
				a(href="#{verificationLink}" style="text-decoration: none;color: #fff;font-size: 20px;" target="_blank") Verify
					img(src="http://i65.tinypic.com/e9yzie.jpg" width="200" height="50" hspace="0" vspace="0" border="0")
		tr
			td(align="left") In case you are unable to view the button, kindly copy and paste the following link in the browser #{verificationLink}. 
		tr
			td(align="left") In case you need our help we are just a click away, contact us at support@nimbusclinic.com / 8287140011. 
		tr
			td(height="20")
		tr
			td(align="left") Team NimbusClinic
		tr
			td(height="20")
		tr
			td(align="center" valign="middle" style="border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;")
				table(width="100%" border="0" cellspacing="0" cellpadding="0" valign="middle")
					tbody
						tr
							td(width="30%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:center; color:#3e3d3d; padding-top:10px; padding-bottom:10px;")
								a(href="#{webUrl}/nimbustermsandcond#/" style="text-decoration:none; color:#3e3d3d;") Terms and Conditions
							td(width="1%" style="color:#3e3d3d;padding-top:10px; padding-bottom:10px;")||
							td(width="38%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:center; padding-top:10px; padding-bottom:10px;")
								a(href="#{webUrl}/nimbustermsandcond#/" style="text-decoration:none; color:#3e3d3d;") Privacy Policy
							td(width="1%" style="color:#3e3d3d;padding-top:10px; padding-bottom:10px;")||
							td(width="30%" style="font:normal 15px/22px Arial, Roboto, sans-serif;padding-top:10px; padding-bottom:10px; text-align:center;")
								a(href="#{webUrl}/support#/" style="text-decoration:none; color:#3e3d3d;") NimbusClinic Support
		//- tr
		//- 	td(height="40" align="center" style="font:normal 18px/36px Arial, Roboto, sans-serif") Explore more categories
		//- tr
		//- 	td(align="center")
		//- 		table(width="96%" border="0" cellspacing="0" cellpadding="0" style="font:normal 14px Arial, Helvetica, sans-serif; color:#3e3d3d;" align="center")
		//- 			tbody
		//- 				tr
		//- 					td(width="30%")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl15" style="text-decoration:none; color:#3e3d3d;") Home Entertainment
		//- 					td(width="5%")
		//- 					td(width="30%")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl14" style="text-decoration:none; color:#3e3d3d;") Laptops
		//- 					td(width="5%")
		//- 					td(width="30%")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl10" style="text-decoration:none; color:#3e3d3d;") Financial Services
		//- 				tr
		//- 					td(colspan="5" height="10")
		//- 				tr
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl17" style="text-decoration:none; color:#3e3d3d;") Kids &amp; Toys
		//- 					td
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl11" style="text-decoration:none; color:#3e3d3d;") Appliances
		//- 					td
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl13" style="text-decoration:none; color:#3e3d3d;") Beauty &amp; Personal Care
		//- 				tr
		//- 					td(colspan="5" height="10")
		//- 				tr
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl21" style="text-decoration:none; color:#3e3d3d;") Women's Clothing
		//- 					td
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl16" style="text-decoration:none; color:#3e3d3d;") Home &amp; Kitchen
		//- 					td
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl18" style="text-decoration:none; color:#3e3d3d;") Men's Footwear
		//- 				tr
		//- 					td(colspan="5" height="10")
		//- 				tr
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl20" style="text-decoration:none; color:#3e3d3d;") Sports &amp; Fitness
		//- 					td
		//- 					td
		//- 						a(href=" http://www.snapdeal.com/products/automotive?utm_source=DailyNewsletter&utm_medium=Blueshift_Experian_Mail&utm_content=BudgetStreet&utm_campaign=BudgetStreet_05122015&utm_term=Footer" style="text-decoration:none; color:#3e3d3d;") Automotive
		//- 					td
		//- 					td
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl19" style="text-decoration:none; color:#3e3d3d;") Mobiles
		//- 				tr
		//- 					td(colspan="5" height="10")
		//- tr
		//- 	td(height="30")&nbsp;
		//- tr
		//- 	td(align="center")
		//- 		table(width="100%" border="0" cellspacing="0" cellpadding="0" align="center")
		//- 			tbody
		//- 				tr
		//- 					td(align="center")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl23")
		//- 							img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/01june2015/Marketing-design/23september/images/downloadapp.png" width="180" height="46" hspace="0" vspace="0" border="0") 
		//- 							| download app
		//- 				tr
		//- 					td(align="center" style="font-family:arial, Roboto; font-size:14px; padding:20px 10px 5px 10px;") Connect with us
		//- 				tr
		//- 					td(align="center" height="60")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl4")
		//- 							img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/01june2015/Marketing-design/23september/images/facebook.png" width="49" height="49" border="0" hspace="0" vspace="0")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl22")
		//- 							img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/01june2015/Marketing-design/23september/images/twitter.png" width="49" height="49" border="0" hspace="0" vspace="0")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl24")
		//- 							img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/01june2015/Marketing-design/23september/images/googleplus.png" width="49" height="49" border="0" hspace="0" vspace="0") 
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl3")
		//- 							img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/01june2015/Marketing-design/10oct/pintIcon.png" width="49" height="49" border="0" hspace="0" vspace="0")
		//- 						a(href="http://crm.sdconnect.in/a/hBWYmLcB9D2MIB9Iu1SAAVinwQw/sndl2")
		//- 							img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/01june2015/Marketing-design/10oct/insta.png" width="49" height="49" border="0" hspace="0" vspace="0")
		//- 				tr
		//- 					td(height="16")

//- table(border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color:#888888; text-align:left; max-width:680px;")
//- 	tbody
//- 		tr
//- 			td(height="16")
//- 		tr
//- 			td(style="font-family:Segoe UI, Arial, sans-serif; font-size: 11px; color: rgb(136, 136, 136); padding: 5px 10px ;") Bonadea has sent this e-mail to you because your subscription preferences indicate that you want to receive alerts on this email address. Click here to 
//- 				a(href="mailto:rm-2b8dc7cjbf3hxakauja0zubyphr3t65@crm.sdconnect.in?subject=Unsubscribe&body=You%20will%20be%20unsubscribed%20from%20mailing%20list." style="color: rgb(92, 121, 150); text-decoration: underline;" target="blank") unsubscribe