style.
	img {
		max-width: 100%;
	}
	u span {
		height:0px;
		line-height:0px;
	}
	table td {
		border-collapse:collapse !important;
		mso-table-lspace:0px !important; 
		mso-table-rspace:0px !important;
		font-size: 17px;
		color:#3e3d3d;
	}
	p {
		margin:0px!important; 
		padding:0px !important;
	}
	.headerClass {
		font-size: 16px;
	}
	.pClass {
		font-size: 16px;
	}
	.MsoNormal {
		margin:0px!important;
		padding:0px !important;
	}
table(cellpadding="5" cellspacing="0" align="center" bgcolor="#ffffff" style="max-width:680px; min-width:300px; border-bottom:0px solid #e0e0e0")
	tbody
		tr
			td(style="border-bottom:solid 1px #ffffff;" height="20")
				table(width="50%" border="0" cellspacing="0" cellpadding="0" align="left")
					tbody
						tr
							//td(style="font:normal 12px Arial, Roboto, sans-serif; color:#999999; text-align:left;")
								webversion This e-mail is mobile friendly.
		tr
			td(align="center")
				a(href="http://52.27.233.121:9090/" target="_blank")
					img(src="http://i64.tinypic.com/2hs0u41.jpg" width="200" height="200" hspace="0" vspace="0" border="0" alt="LOGO HERE" style="font:bold 20px Segoe UI, arial; color:#000000")
		tr
			td(height="0" style="border-top:0px solid #d1d1d1")
				img(src="http://i1.sdlcdn.com/img/marketing-mailers/mailer/2015/diwali_saree_16oct/images/zero_694.gif" width="1px" style="width:1px;")
		tr
			td(align="left") Dear < First Name > #{Salutation} #{fname},
		tr
			td < Patient Name > did not respond to your request to reschedule . The appointment on  < Appointment Date >,< Appointment Time > at < Name of Practice Location > has been automatically cancelled .
		tr
			td(height="20")
		tr
			td( width="100%" align="center" valign="middle" style="border-top:0px solid #d1d1d1; border-bottom:0px solid #d1d1d1;padding-bottom:0px;")
				table(width="100%" cellpadding="5" cellspacing="0" align="center" border="0" style="max-width:320px; min-width:280px;")
					tbody
						tr(style="background-color:#4885ed;" width="100%")
							td(width="80%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:10px; padding-bottom:10px; padding-left:10px;")
								table(cellpadding="0" cellspacing="0" align="" style="" border="0")
									tr
										td(style="text-align:left;font-weight:bold;color:white;padding-left:10px;") < Date >, < Day >
									tr
										td(style="text-align:left;color:white;padding-left:10px;") < From > - < To >
							td(width="20%" style="text-align:center;")
								span
									img(src="https://s3.amazonaws.com/myfirstbkt2016/calendar60x60.png" width="40px" height="40px")
		tr
			td( width="100%" align="center" valign="middle" style="border-top:0px solid #d1d1d1; border-bottom:0px solid #d1d1d1;padding-top:0px;padding-bottom:0px;")
				table(width="100%" cellpadding="5" cellspacing="0" align="center" border="0" style="max-width:320px; min-width:280px; border-left:1px solid #D3D3D3;border-right:1px solid #D3D3D3;")
					tbody
						tr
							td
							td
						tr(width="100%" style="padding-bottom:0px;")
							td(width="82%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d;padding-bottom:0px;")
								span(style="text-align:left;font-weight:bold;color:#4885ed;font-size:18;padding-left:10px;padding-bottom:0px;") < Practice Location Name >
							td(width="18%" style="text-align:center;padding-bottom:0px;")
								span
									img(src="https://s3.amazonaws.com/myfirstbkt2016/location50x50.png" width="25px" height="25px")
		tr
			td( width="100%" align="center" valign="middle" style="border-top:0px solid #d1d1d1; border-bottom:0px solid #d1d1d1;padding-top:0px;padding-bottom:0px;")
				table(width="100%" cellpadding="5" cellspacing="0" align="center" border="0" style="max-width:320px; min-width:280px;border-left:1px solid #D3D3D3;border-right:1px solid #D3D3D3;")
					tbody
						tr(width="100%")
							td(width="100%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:10px; padding-bottom:10px; padding-left:8px;")
								table(cellpadding="0" cellspacing="0" align="" style="" border="0")
									tr
										td(style="text-align:left;font-weight:bold;padding-left:7px;") < Name >
									tr
										td(height="10")
									tr
										td(style="text-align:left;padding-left:7px;") < age>/< Gender>
		tr
			td( width="100%" align="center" valign="middle" style="border-top:0px solid #d1d1d1; border-bottom:0px solid #d1d1d1;padding-top:0px;")
				table(width="100%" cellpadding="5" cellspacing="0" align="center" border="0" style="max-width:320px; min-width:280px; border-left:1px solid #D3D3D3;border-bottom:1px solid #D3D3D3;border-right:1px solid #D3D3D3")
					tbody
						tr(width="100%")
							td(width="55%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px;")
								span(style="text-align:left;padding-left:10px;") Order ID
							td(width="1%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:1px;")
								span(style="text-align:left;") :
							td(width="50%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:1px;")
								span(style="text-align:left;") < OrderId >
						tr(width="100%")
							td(width="55%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px;")
								span(style="text-align:left;padding-left:10px;") Appointment Status
							td(width="1%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:1px;")
								span(style="text-align:left;") :
							td(width="50%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:left;border='0';color:#3e3d3d; padding-top:0px; padding-bottom:1px;")
								span(style="text-align:left;") < Status >
						tr
							td(height="20")
							td(height="20")
							td(height="20")
		tr
			td(height="20")
		tr
			td(align="left") For more details on rescheduling & cancellation policy, visit Terms and Conditions or NimbusClinic Support.#{verificationLink}
		tr
			td
		tr
			td In case you need our help we are just a click away, contact us at support@nimbusclinic.com or call us @ 8287140011.
		tr
			td(height="10")
		tr
			td(align="left") Team NimbusClinic
		tr
			td(height="20")
		tr
			td(align="center" valign="middle" style="border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;")
				table(width="100%" border="0" cellspacing="0" cellpadding="0" valign="middle")
					tbody
						tr
							td(width="30%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:center; color:#3e3d3d; padding-top:10px; padding-bottom:10px;")
								a(href="#{webUrl}/nimbustermsandcond#/" style="text-decoration:none; color:#3e3d3d;") Terms and Conditions
							td(width="1%" style="color:#3e3d3d;padding-top:10px; padding-bottom:10px;")||
							td(width="38%" style="font:normal 15px/22px Arial, Roboto, sans-serif; text-align:center; padding-top:10px; padding-bottom:10px;")
								a(href="#{webUrl}/nimbustermsandcond#/" style="text-decoration:none; color:#3e3d3d;") Privacy Policy
							td(width="1%" style="color:#3e3d3d;padding-top:10px; padding-bottom:10px;")||
							td(width="30%" style="font:normal 15px/22px Arial, Roboto, sans-serif;padding-top:10px; padding-bottom:10px; text-align:center;")
								a(href="#{webUrl}/support#/" style="text-decoration:none; color:#3e3d3d;") NimbusClinic Support